version: "3.9"

services:
  mongo:
    image: mongo:7.0
    ports:
      - "${MONGODB_HOST_PORT:-27017}:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
    ports:
      - "5000:5000"
    environment:
      MONGODB_URI: mongodb://mongo:27017
      MONGODB_DB: notes_db
    depends_on:
      - mongo

volumes:
  mongo_data:
